
.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #header{
    text-align: center;
  }

  .style-background {
    background: linear-gradient(300deg,deepskyblue,darkviolet,blue,#ffffff,#ffffff);
    background-size: 300% 300%;
    animation: gradient-animation 30s ease infinite;
  }
  
  @keyframes style-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  #flower-display{
    height: 70px;
  }

  .rose-background {
    background: linear-gradient(102deg,#c13f31,#d9cdf6,#a82c1e,#3b417c,#a7ffab);
    background-size: 300% 300%;
    animation: gradient-animation 50s ease infinite;
  }
  
  @keyframes rose-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .tulip-background {
    background: linear-gradient(286deg,#66c67f,#cebd72,#e0f225,#598548);
    background-size: 240% 240%;
    animation: gradient-animation 32s ease infinite;
  }
  
  @keyframes tulip-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .carnat-background {
    background: linear-gradient(205deg,#bd47a8,#8f889c,#943759,#ffffff);
    background-size: 240% 240%;
    animation: gradient-animation 40s ease infinite;
  }
  
  @keyframes carnat-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .footer-background {
    background: linear-gradient(302deg,#612685,#caaee6,#4873db,#9d5963);
    background-size: 240% 240%;
    animation: gradient-animation 8s ease infinite;
  }
  
  @keyframes footer-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

    .body-background {
      background: linear-gradient(119deg,#4828d8,#2afcd1,#5534c8,#4ccdeb,#41a11e);
      background-size: 300% 300%;
      animation: gradient-animation 50s ease infinite;
    }
    
    @keyframes body-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    #About {
      text-align: center;
      

    }

    .good {
     padding-top: 10px;
     font-size: 10px;
    }

    .nice {
      color:#cebd72;
      padding-top: 10px;
      padding-bottom: 10px;
    }